body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #192437;
    font-family: monospace;
    color: #0473cb;
}

/* Titel */
#gini-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 0 5px #0473cb, 0 0 10px #0473cb, 0 0 20px #0473cb, 0 0 40px #0473cb;
    user-select: none;
}

/* Slots Container */
#slots-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

/* Fester Slot-Container */
#slots-container .slot {
    width: 200px;
    height: 200px;
    position: relative;
    background-color: rgb(37, 37, 37);
    overflow: hidden;

    /* Neon-Rand */
    border: 3px solid #0473cb;
    box-shadow: 0 0 10px #0473cb, 0 0 20px #0473cb, 0 0 40px #0473cb;
    border-radius: 10px; /* optional, runde Ecken */
}

/* Slot Bilder absolut zentriert und proportional */
#slots-container .slot img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}

/* Start Button */
#start-button {
    font-size: 1.5rem;
    padding: 12px 30px;
    border-radius: 10px;
    border: 2px solid #0473cb;
    background-color: rgb(0, 0, 0);
    color: #0473cb;
    cursor: pointer;
    box-shadow: 0 0 5px #0473cb, 0 0 15px #0473cb;
    transition: all 0.3s ease;
}

#start-button:hover {
    box-shadow: 0 0 10px #0473cb, 0 0 25px #0473cb;
}

header .logo {
  position: absolute;       
top: 10px;              /* ganz oben */
  left: 20px;             /* ganz links */
  height: 80px;             /* Logo-Größe */
}

#balance {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    background: #2d4061;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: inline-block;
  }

  #reset-balance-button {
        position: fixed;
        top: 10px;
        right: 10px;
        padding: 10px 15px;
        font-size: 20px;
        cursor: pointer;
        background-color: #ff5555;
        color: white;
        border: none;
        border-radius: 5px;
        z-index: 1000;
    }

    #reset-balance-button:hover {
        background-color: #ff2222;
    }

    .home-logo {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1001;
}

.home-logo img {
    width: 120px;
    height: auto;
    display: block;
}