body {
    background-color: #192437;
    width: 99%;
}

img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin-top: 3%;
  height: auto;
}

h1 {
    color: white;
    font-size: 6vw;
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.off-screen-menu {
    background-color: #222222;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: #222222;
}

.ham-menu {
    display: block;
    height: 50px;
    width: 40px;
    position: relative;
    margin-left: auto;
    margin-right: 0%;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 0;
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 10px;
}

.ham-menu span:nth-child(2) {
    top: 22px;
}

.ham-menu span:nth-child(3) {
    top: 34px;
}

.ham-menu.active span:nth-child(1) {
  top: 22px;
  transform: rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 22px;
  transform: rotate(-45deg);
}

li {
    color:white;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
}

.nav-div-1 {
  list-style: none;
  width: 100%;
  position: relative;
  top: -25%;
}

.nav-div-2 {
  list-style: none;
  width: 100%;
  position: relative;
  top: 30%;
}

a {
    text-decoration: none;
    color: inherit;
}