body {
    background-color: #192437;
    margin: 0;
    display: flex;
    justify-content: center;
}



@media (min-width: 0px ) {
    div {
    background-color: white;
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    height: 50vh;
}

}


@media (min-width: 1024px ) {
    div {
    background-color: white;
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    height: 122vh;
}

}


.img1 {
    position: absolute;
    margin-top: 100px;
}



@media (max-width: 1024px ) {
    .img1 {
    width: 80%;
    max-width: 600px;
    height: auto;
    margin: 5vh auto;
}
}

