body {
    background-color: #192437;
    margin: 0;
    display: flex;
    justify-content: center;
}


.pdf {
    width: 100%;
    height: 100%;
    border: none;
}

@media (min-width: 0px ) {
    div {
    background-color: white;
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    height: 50vh;
}

}

@media (min-width: 1024px ) {
    div {
    background-color: white;
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    height: 122vh;
}

}